@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
ul,ol{list-style:none;}
a{text-decoration:none;color: #333333}
a:hover{color: #244d90}
img{border:0;vertical-align:middle;}
input,button{vertical-align:middle;outline:none;border:none;}
textarea{outline:none;border:none;resize:none;}
input, textarea {box-sizing: content-box;outline: none;background: 0 0;font-family: "Microsoft YaHei"}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #acacac;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#acacac;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:#acacac;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#acacac;
}
.rt{float:right;}
.lf{float: left;}
body{color: #000;font-family: "Microsoft YaHei"}
/*清除浮动*/
.clearfix{*zoom:1;} /* 针对IE7 hack，触发IE7的haslayout，以清除浮动 */
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
table tr td,table{border-collapse:collapse;}
/*通用样式*/

.marginTop-20{
    margin-top: 20px;
}
.marginTop-10{
    margin-top: 10px;
}

.df-bg-img li img.active{
     animation:myfirst 5s;
    -moz-animation:myfirst 5s; /* Firefox */
    -webkit-animation:myfirst 5s; /* Safari and Chrome */
    -o-animation:myfirst 5s; /* Opera */
}

.nine-server-plate a:hover{
    animation:myfirst 0.5s;
    -moz-animation:myfirst 0.5s; /* Firefox */
    -webkit-animation:myfirst 0.5s; /* Safari and Chrome */
    -o-animation:myfirst 0.5s; /* Opera */
}
.banner-btm-item a:hover{
    -webkit-box-shadow: #ddd 1px 3px 8px;
    -moz-box-shadow: #ddd 1px 3px 8px;
    box-shadow: #ddd 1px 3px 8px;
}
/*9大服务hover动画效果*/
@keyframes myfirst
{
0%   {transform: rotate(10deg);}
20%  {transform: rotate(-10deg);}
40%  {transform: rotate(10deg);}
60% {transform: rotate(-10deg);}
80% {transform: rotate(10deg);}
100% {transform: rotate(0deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {transform: rotate(10deg);}
20%  {transform: rotate(-10deg);}
40%  {transform: rotate(10deg);}
60% {transform: rotate(-10deg);}
80% {transform: rotate(5deg);}
100% {transform: rotate(0deg);}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {transform: rotate(10deg);}
20%  {transform: rotate(-10deg);}
40%  {transform: rotate(10deg);}
60% {transform: rotate(-10deg);}
80% {transform: rotate(5deg);}
100% {transform: rotate(0deg);}
}

@-o-keyframes myfirst /* Opera */
{
0%   {transform: rotate(10deg);}
20%  {transform: rotate(-10deg);}
40%  {transform: rotate(10deg);}
60% {transform: rotate(-10deg);}
80% {transform: rotate(5deg);}
100% {transform: rotate(0deg);}
}

@keyframes mytwo
{
0%   {transform: scale(1.2);}
20%  {transform: scale(1);}
40%  {transform: scale(1.1);}
60% {transform: scale(1.2);}
80% {transform: scale(1.1);}
100% {transform: scale(1);}
}

@-moz-keyframes mytwo /* Firefox */
{
0%   {transform: scale(1.2);}
20%  {transform: scale(1);}
40%  {transform: scale(1.1);}
60% {transform: scale(1.2);}
80% {transform: scale(1.1);}
100% {transform: scale(1);}

@-webkit-keyframes mytwo /* Safari 和 Chrome */
{
0%   {transform: scale(1.2);}
20%  {transform: scale(1);}
40%  {transform: scale(1.1);}
60% {transform: scale(1.2);}
80% {transform: scale(1.1);}
100% {transform: scale(1);}
}

@-o-keyframes mytwo /* Opera */
{
0%   {transform: scale(1.2);}
20%  {transform: scale(1);}
40%  {transform: scale(1.1);}
60% {transform: scale(1.2);}
80% {transform: scale(1.1);}
100% {transform: scale(1);}
}
